.mySwiper {
  width: calc(100% - 20px);
  height: 300px;
  gap: 10px;
  margin-top: 50px;
  padding-bottom: 25px; 
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  /*box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  background: #f1f1f1;*/
}

.imagen-galeria {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.imagen-banner{
  object-fit: contain;
  object-position: center;
  display: block;
  padding: 5px;
}

.swiper-pagination-progressbar {
  background-color: #0c51a6 !important;
  height: 2px !important;
  border-radius: 1px !important;
  bottom: 8px !important; 
  top: auto !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 60% !important; 
  max-width: 200px !important;
}

.swiper-pagination-progressbar-fill {
  background: #333 !important;
  border-radius: 1px !important;
  transition: all 0.3s ease !important;
}

.mySwiper:hover .swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.12) !important;
}

.mySwiper:hover .swiper-pagination-progressbar-fill {
  background: #000 !important;
}

@media (max-width: 768px) {
  .mySwiper {
    width: 95% !important;
    margin: 0 auto;
  }
  
  .swiper-pagination-progressbar {
    width: 80% !important;
    height: 3px !important;
  }
}

@media (max-width: 600px) {
  .mySwiper {
    width: 95% !important;
  }
}

@media (max-width: 480px) {
  .mySwiper {
    width: 95% !important;
  }
}

@media (max-width: 360px) {
  .mySwiper {
    width: 95% !important;
  }
}